<!-- RESUME HTML -->
<!doctype html>
<head>
<title>anna || resume</title>
<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,200,300' rel='stylesheet' type='text/css'>
<script src="assets/js/script.js"></script>
</head>
    <body>
	<nav class = "sidebar-container">
        <ul>
            <a href="../../index.html"><li class="sidebar-item">HOME</li></a>
            <a href="index.html"><li class="sidebar-item">RESUME</li></a>
            <a href="../projects/index.html"><li class="sidebar-item">PROJECTS</li></a>
            <a href="../gallery/index.html"><li class="sidebar-item">GALLERY</li></a>
            <a href="../contact/index.html"><li class="sidebar-item">CONTACT</li></a>
        </ul>
    </nav>
    <div class = "page-container">
        <!-- <div class="resume-container"> -->
            <img id="resume" src="assets/img/Resume.png">
        <!-- </div> -->
    </div>
    </body>