<!-- GALLERY HTML -->
<!doctype html>
<head>
<title>anna || gallery</title>
<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,200,300' rel='stylesheet' type='text/css'>
<script src="assets/js/script.js"></script>
</head>
    <body>
	<nav class = "sidebar-container">
        <ul>
            <a href="../../index.html"><li class="sidebar-item">HOME</li></a>
            <a href="../resume/index.html"><li class="sidebar-item">RESUME</li></a>
            <a href="../projects/index.html"><li class="sidebar-item">PROJECTS</li></a>
            <a href="index.html"><li class="sidebar-item">GALLERY</li></a>
            <a href="../contact/index.html"><li class="sidebar-item">CONTACT</li></a>
        </ul>
    </nav>
    <div class = "page-container">
            <div id="first" class="gallery-item">
                <div id="first-text">Inspired by "Looking for Alaska" by John Green, I designed this as a print for one of my favorite books.</div>
                <img src="assets/img/john green.png">
            </div>
            <div id="second" class="gallery-item">
                <div id="second-text">A friend of mine once needed to me to remind her just how awesome she is. This piece is dedicated to her and to all women who ever lose sight of their own inner beauty and brilliance. </div>
                <img src="assets/img/bold_bright-02.png">
            </div>
            <div id="third" class="gallery-item">
                <div id="third-text">I created this design for the Design Desk at none other than one of my great loves, The Daily Californian. These were printed onto design staff t-shirts! </div>
                <img src="assets/img/DCDD tee-02.png">
            </div>
            <div id="fourth" class="gallery-item">
                <div id="fourth-text">I came up with this design based off of a super cheesy pun: no one likes an energy hog. This particular design was made for an organization called PowerSave Campus at UC Berkeley.</div>
                <img src="assets/img/Power Save tshirts-05.png">
            </div>
            <div id="fifth" class="gallery-item">
                <div id="fifth-text">Saving energy saves the world, truly. This design is inspired by the campaign put on by LA Metro to encourage people to take public transit. I translated the concept into something applicable to PowerSave Campus at UC Berkeley.</div>
                <img src="assets/img/Power Save tshirts.png">
            </div>
            <div id="sixth" class="gallery-item">
                <div id="sixth-text">In the design world, we often nitpick what must seem to most people like the tiniest details. For designers like myself, it's the details that makes all the difference. This design is inspired by a lesson that I learn from my colleagues and clients everyday.</div>
                <img src="assets/img/devil.png">
            </div>
        <div class="footer">All designs are made by Anna Nguyen.</div>

    </div>
    </body>