/* CSS Document */

.page-container {
	width: 100%;
	height: 100%;
	margin: 0px;
}
body {
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	background-color: #E8E8E8;
}
.logo-container {
	width: 100%;
	margin: 0 auto;
	height: 750px;
	overflow: hidden;
	position: relative;
}
#logo {
	width: 1000px;
	height: 750px;
	margin: 0 auto;
	position: absolute;
	top: 80px;
	left: 230px;
	opacity: .6;
	z-index: 100;
}
#logo:hover {
	opacity: .99;
	transition: .3s;
}
#main {
	width: 100%;
	height: 750px;
	margin: 0 auto;
	clear: both;
	position: relative;
	top: 0;
	left: 0;
	z-index: -10;
}
a {
	text-decoration: none;
	color: #004C4C;
}
.section {
	height: 400px;
	width: 23%;
	margin-top: 10px;
	margin-left: 5px;
	padding: 10px;
	font-size: 24px;
	font-weight: 400;
	border: 2px;
	background-color: gray;
	color: #004C4C;
	opacity: .5;
	display: inline-block;
	text-align: center;
	z-index: -5;
}
.section:hover {
	opacity: .8;
	background-color: black;
	color: white;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s
}
#mini_resume {
	height: 300px;
	width: 250px;
	position: absolute;
	top: 850px;
	left: 55px;
	z-index: 50;
}
#contact_text {
	height: 300px;
	width: 250px;
	text-align: center;
	position: absolute;
	top: 850px;
	right: 55px;
	z-index: 50;
	color: gray;
	font-size: 20px;
	line-height: 36px;
}
#contact_text:hover {
	color: white;
	font-weight: 600;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s
}
#projects_text {
	height: 300px;
	width: 250px;
	text-align: center;
	position: absolute;
	top: 850px;
	left: 410px;
	z-index: 50;
	color: gray;
	font-size: 20px;
	line-height: 36px;
}
#projects_text:hover {
	color: white;
	font-weight: 600;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s
}
#mini_gallery {
	height: 200px;
	width: 300px;
	position: absolute;
	top: 850px;
	right: 375px;
	z-index: 50;
	background-color: white;
	padding: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.view-button {
	width: 50px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	color: white;
	background-color: #004C4C;
	text-align: center;
}
#gallery-view {
	position: absolute;
	top: 1110px;
	left: 850px;
}
#project-view {
	position: absolute;
	top: 1110px;
	left: 490px;
}