<!-- CONTACT HTML -->
<!doctype html>
<head>
<title>anna || about</title>
<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,200,300' rel='stylesheet' type='text/css'>
<script src="assets/js/script.js"></script>
</head>
    <body>
	<nav class = "sidebar-container">
        <ul>
            <a href="../../index.html"><li class="sidebar-item">HOME</li></a>
            <a href="../resume/index.html"><li class="sidebar-item">RESUME</li></a>
            <a href="../projects/index.html"><li class="sidebar-item">PROJECTS</li></a>
            <a href="../gallery/index.html"><li class="sidebar-item">GALLERY</li></a>
            <a href="index.html"><li class="sidebar-item">CONTACT</li></a>
        </ul>
    </nav>
    <div class = "page-container">
        <img id="background-photo" src="assets/img/IMG_0620 copy.jpg">
        <div id="about">ABOUT ME
            <div class="section-text">Welcome to my personal portfolio website. </br>
                My name is Anna and I'm currently a student at the</br>
                University of California, Berkeley completing a</br>
                Bachelor of Arts in Urban Studies with a minor in</br>
                Sustainable Environmental Design. Outside </br> 
                of school, I work as a graphic designer for </br>
                a variety of organizations, including The </br>
                Daily Californian, Roots of Success, and the </br>
                College of Environmental Design.
            </br>
            </br>
                In my spare time, I enjoy Netflix binges, scenic </br>
                hikes, talking to my air plant, and consuming as</br>
                much food as my personal health permits.

            </div>
        </div>
        <div id="contact" class="section">CONTACT ME
            <div class="section-text">Anna Nguyen</br>
                annanguyen@berkeley.edu</br>

            </div>
        </div>

    </div>
    </body>