<!-- PROJECTS HTML -->
<!doctype html>
<head>
<title>anna || projects</title>
<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,200,300' rel='stylesheet' type='text/css'>
<script src="assets/js/jquery-1.9.1.js"></script>
<script src="assets/js/script.js"></script>
</head>
    <body>
	<nav class = "sidebar-container">
        <ul>
            <a href="../../index.html"><li class="sidebar-item">HOME</li></a>
            <a href="../resume/index.html"><li class="sidebar-item">RESUME</li></a>
            <a href="index.html"><li class="sidebar-item">PROJECTS</li></a>
            <a href="../gallery/index.html"><li class="sidebar-item">GALLERY</li></a>
            <a href="../contact/index.html"><li class="sidebar-item">CONTACT</li></a>
        </ul>
    </nav>
    <div class = "page-container">
        <div class="project-container">PROJECTS</div>
            <div id="roots-cover">NONPROFIT</div>
            <div id="roots" class="project-new"> ROOTS OF SUCCESS
                <div class="project-date">2015 ||</div>
                <div class="project-text">I am currently in the process of creating and designing the Green Jobs Guidebook for Roots of Success, which is a nonprofit organization. Roots of Success aims to provide at-risk youth and adults with pathways out of poverty by preparing them for living-wage jobs that improve environmental conditions. Some of my duties include creating an original design for the document, copy editing the industry and job descriptions, working with a team to produce materials for the organization, and consulting on the front-end development and design of the website. You can learn more about the Roots of Success organization as well as read about their environmental literacy curriculum <a id="project-link" href="www.rootsofsuccess.org/">here</a>.</div>
            </div>
            <div id="powersave-cover">ENERGY EFFICIENCY</div>
            <div id ="powersave" class="project-new"> POWERSAVE CAMPUS
                <div class="project-date">2015 ||</div>
                <div class="project-text"> PowerSave Campus is a project put on by the Alliance to Save Energy and PG&E with the goal of empowering students to become leaders in energy efficiency. Our main duties as an organization are to perform energy efficiency audits on campus and to do outreach to educate students on energy issues. So far, our efforts have resulted in 4,360 MWh of electricity savings and over $400,000 in savings to the university. My work with PowerSave Campus revolves around developing energy efficiency projects that can be implemented at UC Berkeley. Currently, I am working with PowerSave to plan a Speaker Series that will spread awareness of some of the research and policy projects. You can learn more about the PowerSave Campus at UC Berkeley <a id="project-link" href="www.powersavecal.com/">here</a>.</div>
            </div>
            <div id="cec-cover">PUBLIC POLICY</div>
            <div id ="cec" class="project-new"> CALIFORNIA ENERGY COMMISSION
                <div class="project-date">2014 ||</div>
                <div class="project-text"> Last summer, I interned at the California Energy Commission (CEC) as a student research assistant in the Energy Deployment and Market Facilitation Office. During my time at the CEC, I got involved with outreach, funding opportunities, workforce development, and solicitation development under the Electric Program Investment Charge (EPIC). EPIC is designed to assist the development of new and emerging clean energy technologies in California. The solicitations I focused on dealt with renewable energy permitting, with an emphasis on solar energy. You can learn more about EPIC and the California Energy Commission <a id="project-link" href="www.energy.ca.gov/">here</a>.</div>
            </div>
    </div>
    </body>